.expenses{
    background-color: rgb(148, 145, 86);
      /* padding: 50rem; */
       width: 55%;
       min-width: 45rem;
    /*  height: 50rem; */
      margin: auto;
      z-index: -1;
      padding: 15px;
      margin-top: 30px;
      /* margin-left: 5rem; */
}
body{
  background-image: linear-gradient(0deg,#407940,#22384D);
}