.chart{
    /* border: 1px solid black; */
    height: 9rem;
    background-image: linear-gradient(0deg,#407940,#22384D);
    border-radius: 12px;
    display: flex; /*place side by side */
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    /* margin-top: 50px; */
    /* width: 0rem; */
    margin: 29px;
}