select{
    float: right;
    font-size: 20px;
    margin-right: 50px;
    padding: 12px;width: 8rem;text-align: center;
    border-radius: 5px;
}

.selectOuter{
    padding: 10px;margin-bottom: 30px;
}
.filter_lable{
    margin-left: 50px;font-size: 25px;font-weight: 500;
    position: relative;top: 10px;color:rgb(85, 7, 7);
}